body {
    margin: 0;
    background: rgb(67, 60, 189);
    background: linear-gradient(90deg, rgba(67, 60, 189, 1) 0%, rgba(0, 172, 237, 1) 35%, rgba(0, 255, 188, 1) 100%);
    font-family: Roboto;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    padding: .2rem;
    background-color: white;
}

.sync-logo {
    height: 5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foto-perfil {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
    padding-bottom: 2rem;
}

.card {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .7);
    border-radius: 20px;
    padding: 3rem 7rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
}

.card > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.3rem;
    flex-wrap: wrap;
}

.card > div > div {
    margin-right: .2rem;
    max-width: 100%; /* Definindo a largura máxima */
}

.titulo {
    font-weight: 600;
}

.alteracao {
    padding-bottom: 2rem;
}

section {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .7);
    border-radius: 20px;
    padding: 3rem 7rem;
    width: 12rem;
}

input {
    width: 100%;
    padding: .9rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: none;
    background-color: #ececed;
}

input:focus {
    outline: none;
}

textarea {
    margin-bottom: 2rem;
    box-sizing: border-box;
    background-color: #ececed;
    resize: none;
}

textarea:focus {
    outline: none;
    border: none;
}

.botao {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

.botao:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.botao:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.botao:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.botao:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.botao:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.botao:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.botao:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.botao:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

footer {
    background-color: white;
    height: 4rem;
}

@media screen and (max-width: 768px) {
    .card, section {
        width: 90%; /* Ajuste a largura máxima para telas menores */
        padding: 2rem;
    }
}
